@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Young Serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(30, 54%, 90%); /*eggshell*/
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

img {
    display: flex;
    border-radius: 20px;
    margin: 15px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border: 1px solid white;
    border-radius: 30px;
    max-width: 675px;
    text-align: start;
    margin: 100px;
    justify-content: center;
}

h1 {
    color: hsl(24, 5%, 18%); /*dark charcoal*/
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 15px;
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%); /*nutmeg*/
    font-size: 2rem;
    font-weight: 400;
    margin: 5px;
}

h3 {
    color: hsl(332, 51%, 32%); /*dark raspberry*/
    font-weight: 700;
    padding: 5px 25px;
    margin: 10px 0 0;
}

p {
    margin: 15px;
}

p, li, td {
    font-weight: 400;
    color: hsl(30, 10%, 34%); /*wenge brown*/
}

.preparation-time {
    display: flex;
    flex-direction: column;
    background-color: hsl(330, 100%, 98%); /*rose white*/
    border-radius: 20px;
    line-height: 2;
    margin: 15px;
    padding: 10px 5px;
    align-content: space-around;
}
.preparation-time li {
    padding-left: 25px;
}

.preparation-time li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.75em;
}

.ingredients {
    line-height: 2;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin: 15px;
    padding-bottom: 15px;
}

.ingredients li {
    list-style-type: square;
    padding: 1px 15px;
}

.ingredients li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 0.75em;
    margin: 20px;
}

.instructions {
    margin: 15px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding-bottom: 15px;
}

.instructions li {
    margin: 10px 0;
    padding-left: 15px;
}

.instructions li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

.nutrition {
    margin: 15px;
}

.nutrition p {
    margin: 15px 5px;
}

.nutrition table {
    table-layout: auto;
    width: 100%;
}

.nutrition td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 10px 0px 10px 30px;
}

.nutrition .value {
    padding: 10px 250px 10px 0px;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    text-align: end;
}

.nutrition .fat {
    border-bottom: none;
}

footer { 
    font-size: 11px;
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    body {
        margin: 0;        
    }

    main {
        width: 100%;
        margin: 0px;
        border-radius: 0%;
        padding: 0 0 30px;
        border-radius: 5px;
    }

    img {
        display: block;
        border-radius: 0%;
        margin: 0;
        width: 100%;
        height: auto;
    }
}